<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alumnos</title>
</head>
<body>
<form th:action="@{/alumnos/guardar}" th:object ="${alumnos}"  method="post">
    <div>
        <label>Nombre</label>
        <input type="text" th:field ="*{Nombre}" />
    </div>
    <div>
        <label>Apellido</label>
        <input type="text" th:field ="*{Apellido}">
    </div>
    <div>
        <label>Cuota</label>
        <input type="text" th:field ="*{cuota}">
    </div>
    <div>
        <button type="submit">Guardar</button>
    </div>

</form>

</body>
</html>
